@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');


body {
    font-family: "Cairo", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

form {
    text-align: center;
    /* border: 2px black solid;
    width: fit-content; */
    padding: 20px;
    border-radius: 15px;
    background-color: #eee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
    margin-bottom: -5px;
}


.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all b {
    font-size: 25px;
}


input {
    text-align: center;
    outline: none;
}

input[type="text"] {
    display: inline;
    width: 25px;
    height: 25px;
    font-size: 23px;
}

input[type="button"] {
    padding: 10px 18px;
    background-color: #03A9F4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 10px;
}

input[type="button"]:checked {
    background-color: #03A9F4;
    color: white;
}

#OrderdNumText {
    position: relative;
    display: none;
    margin: auto;
}

.os {
    display: inline-block;
    position: relative;
}

.os.one {
    margin: 0 30px 0 5px;
}

.os.two {
    margin: 0 24px 0 5px;
}

.os.three {
    margin-right: 30px;
}

.os label {
    font-size: 30px;
}

.os input {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 14px;
    height: 14px;
    font-size: 15px;
}



#secondNum {
    margin-left: 4px;
}

#bracketPower {
    top: -17px;
    left: 0;
}

input[type="checkbox"]:checked {
    background: #03A9F4;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 17px;
    width: 17px;
    border: 1px solid white;
    color: white;
    margin-top: 15px;
    margin-bottom: -4px;
}

input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}



.superSc {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    min-width: 430px;
    max-width: 800px;
    background-color: #03a9f4;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    position: relative;
    margin-top: 15px;
}

.superSc::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateY(-50%);
    border: 15px solid;
    border-color: transparent transparent #03a9f4 transparent;
}