@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');


body {
    font-family: "Cairo", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

form {
    text-align: center;
    /* border: 2px black solid;
    width: fit-content; */
    padding: 20px;
    border-radius: 15px;
    background-color: #eee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
    margin-bottom: -5px;
}

input {
    text-align: center;
    outline: none;
}

input[type="text"] {
    display: inline;
    width: 17px;
}

input[type="button"] {
    padding: 10px 15px;
    background-color: #03A9F4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    /* display: block; */
    margin: 10px auto -20px;
}

input[type="button"]:checked {
    background-color: #03A9F4;
    color: white;
}

#OrderdNumText {
    position: relative;
    display: none;
    margin: auto;
}


input[type="checkbox"]:checked {
    background: #03A9F4;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 17px;
    width: 17px;
    border: 1px solid white;
    color: white;
    margin-top: 15px;
    margin-bottom: -4px;
}

input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}



.superSc {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    min-width: 430px;
    max-width: 800px;
    background-color: #03a9f4;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    position: relative;
    margin-top: 15px;
}

.superSc::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateY(-50%);
    border: 15px solid;
    border-color: transparent transparent #03a9f4 transparent;
}